*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
input{
	outline: 0;
}
body{
	background: rgb(235,230,230);
	background: radial-gradient(circle, rgba(235,230,230,1) 0%, rgba(158,158,164,0.9447129193474265) 78%, rgba(167,167,167,1) 91%);
	font-family: 'Arial', sans-serif;
}
.limpar-fluxo{
	clear: both;
}
nav#navegacao-topo{
	background: #0E2E4D;
	/*background: #07213A;*/
}
nav#navegacao-topo h1{
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	padding: 20px 30px;
}
nav#navegacao-topo h1 a{
	color: white;
}
form#formulario-calendario{
	background: white;
	padding: 12px 0;
	text-align: center;
}
form#formulario-calendario input[type="date"]{
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid black;
	margin-right: 20px;
}
div#container{
	width: 1428px;
	margin: 20px auto;
}
aside.legendas{
	width: 150px;
	float: left;
	margin-right: 30px;
}
div.texto-legenda{
	background: gray;
	text-align: center;
	padding: 5px;
	border-radius: 0 0 10px 10px;
}
aside.legendas{
	background: #272829;
}
div.conteudo-lengenda{
	background: white;
	padding: 5px;
}
div#calendario{
	background: #272829;
	width: 1248px;
	float: left;
}
div.cabecalho-calendario, div.cabecalho-sabado{
	float: left;
	background: gray;
	text-align: center;
	width: 174px;
	margin-right: 5px;
	padding: 4px 0;
	border-radius: 0 0 10px 10px;
}
div.cabecalho-sabado{
	margin-right: 0;
}
div.dia-calendario{
	background: white;
	width: 174px;
	height: 105px;
	float: left;
	margin-top: 5px;
}
div.dia-calendario time{
	float: right;
}
