*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
input{
	outline: 0;
}
body{
	background: rgb(235,230,230);
	background: radial-gradient(circle, rgba(235,230,230,1) 0%, rgba(158,158,164,0.9447129193474265) 78%, rgba(167,167,167,1) 91%);
	font-family: 'Arial', sans-serif;
}
nav#navegacao-topo{
	background: #0E2E4D;
	/*background: #07213A;*/
}
nav#navegacao-topo h1{
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	padding: 20px 30px;
}
nav#navegacao-topo h1 a{
	color: white;
}
form#formulario-calendario{
	background: white;
	padding: 12px 0;
	text-align: center;
}
form#formulario-calendario input[type="date"]{
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid black;
	margin-right: 20px;
}